//colors
$primary: var(--primary);
$secondary: var(--secondary);
$tertiary: var(--tertiary);
$orange-basic: var(--orange-basic);
$salmon: var(--salmon);

//fonts
$urbanist: var(--urbanist);

// Font Weight
$thin: 200;
$light: 300;
$regular: normal;
$semi-bold: 600;
$bold: bold;
$bolder: 900;

// Font Size
$body: var(--body);
$h1: var(--h1);
$h2: var(--h2);
$h3: var(--h3);
$h4: var(--h4);
$h5: var(--h5);

// Spacing
$space-3xs: var(--space-3xs);
$space-2xs: var(--space-2xs);
$space-xs: var(--space-xs);
$space-s: var(--space-s);
$space-m: var(--space-m);
$space-l: var(--space-l);
$space-xl: var(--space-xl);
$space-2xl: var(--space-2xl);
$space-3xl: var(--space-3xl);

$space-3xs-2xs: var(--space-3xs-2xs);
$space-2xs-xs: var(--space-2xs-xs);
$space-xs-s: var(--space-xs-s);
$space-s-m: var(--space-s-m);
$space-m-l: var(--space-m-l);
$space-l-xl: var(--space-l-xl);
$space-xl-2xl: var(--space-xl-2xl);
$space-2xl-3xl: var(--space-2xl-3xl);

$space-s-l: var(--space-s-l);
