@use "../../utils/" as *;

.serv-list {
  padding-top: calc($space-3xl * 1.55);
  padding-bottom: calc($space-3xl * 1.4);
  @include device-below(md) {
    padding-top: calc($space-xl);
    padding-bottom: calc($space-xl);
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: calc($space-3xl);
    width: 100%;
    align-items: center;
    justify-content: center;
    @include device-below(md) {
      row-gap: calc($space-xl);
    }
  }
  &__card {
    background-color: $tertiary;
    border-radius: calc($space-l);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    width: 100%;
    @include device-below(md) {
      flex-direction: column;
      border-radius: calc($space-m + 1px);
    }
    &:nth-child(odd) {
      .serv-list__card__picture {
        padding: 0;
        @include device-above(md) {
          padding: 0 calc($space-l) 0 0;
        }
      }

      .serv-list__card__content {
        @include device-above(md) {
          padding: 0 calc($space-xl) 0 calc($space-l);
        }
      }
    }

    &:nth-child(even) {
      @include device-above(md) {
        display: flex;
        flex-direction: row-reverse;
      }
      .serv-list__card__picture {
        padding: 0;
        @include device-above(md) {
          padding: 0 0 0 calc($space-l);
        }
      }
      .serv-list__card__content {
        @include device-above(md) {
          padding: 0 calc($space-l) 0 calc($space-2xl);
        }
      }
    }
    &__picture {
      display: flex;

      &__img {
        width: 100%;
        max-height: 100%;
        object-fit: cover;
        @include device-below(md) {
          width: 100%;
          height: 100%;
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: calc($space-xs);
      padding: calc($space-xl) calc($space-2xl);
      @include device-below(md) {
        align-items: center;
      }
      &__title {
        font-size: calc($h4 + 2px);
        font-weight: $regular;
        transition: all 0.3s ease-in-out;
        margin-top: calc($space-m);
        @include device-below(md) {
          text-align: center;
        }
      }
      &__desc {
        font-size: calc($body + 2px);
        letter-spacing: 1px;
        font-weight: 300;
        transition: all 0.3s ease-in-out;
        @include device-below(md) {
          display: none;
        }
      }
      &__btn {
        font-size: calc($body);
        letter-spacing: 2px;
        font-weight: 600;
        color: $primary;
        text-decoration: unset;
        transition: all 0.3s ease-in-out;
        margin-bottom: calc($space-m);
        @include device-below(md) {
          text-align: center;
        }
      }
    }
    &:hover {
      background-color: $primary;
      .serv-list__card__content {
        &__title {
          color: white;
        }
        &__desc {
          color: white;
        }
        &__btn {
          color: white;
        }
      }
    }
  }
}
