@use "../utils/" as *;

.banner-hero {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  min-height: calc($space-3xl * 5);

  padding-top: calc($space-xl);
  padding-bottom: calc($space-xl);

  @include device-below(md) {
    min-height: calc($space-3xl * 2);
  }

  .banner-picture {
    position: absolute;
    top: 0;
    right: 0;
    width: max-content;
    max-width: 50vw;
    height: 100%;
    z-index: -1;
    @include device-below(md) {
      position: relative;
      align-self: flex-end;
      max-width: 90vw;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  .banner-content {
    padding-top: calc($space-l);
    padding-bottom: calc($space-l);
    &__title {
      font-size: calc($h1 + 1.1rem);
      font-weight: 500;
      @include device-below(md) {
        font-size: calc($h1);
      }
    }
    &__desc {
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $space-s;

      @include device-below(md) {
        grid-template-columns: repeat(1, 1fr);
      }

      &__item {
        display: flex;
        flex-direction: row;
        gap: $space-s;
        align-items: center;
        background-color: $salmon;
        padding: calc($space-xs);
        border-radius: 100px;
        @include device-below(md) {
          justify-content: center;
        }
        &__icon {
        }
        &__text {
          font-size: calc($body + 2px);
          color: $primary;
        }
      }
    }
  }
}
