@use "../utils/" as *;

.footer {
  padding-top: calc($space-2xl - 5px);
  padding-bottom: calc($space-xl);
  position: relative;
  @include device-below(md) {
    padding-top: calc($space-m + 5px);
    padding-bottom: calc($space-xl);
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #ff9000 19.49%, #ff5a00 50%);
  }

  #{&}__top {
    justify-content: space-between;
    margin-bottom: calc($space-xl);
    &__wrap {
      display: flex;
      flex-direction: row;
      @include device-below(md) {
        justify-content: space-between;
        align-items: center;
        margin-bottom: calc($space-m);
      }
      &__lg-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        max-width: max-content;
      }
      &__logo {
        width: max-content;
        max-width: 100%;
        object-fit: contain;

        @include device-below(md) {
          width: calc($space-3xl * 2.5);
          height: calc($space-2xl);
        }
      }
      &__chat-md {
        display: flex;
        width: calc($space-2xl - 4px);
        height: calc($space-2xl - 4px);

        @include device-above(md) {
          display: none;
        }
      }
    }
    &__consult {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      gap: calc($space-l);
      &__btn {
        display: flex;
        flex-direction: row;
        color: white;
        background-color: $primary;
        align-items: center;
        height: max-content;
        gap: calc($space-xs);
        padding: calc($space-s + 4px) calc($space-l) calc($space-s + 4px)
          calc($space-l);
        border-radius: 200px;
        position: relative;
        @include device-below(md) {
          margin-right: calc($space-m);
          overflow: visible;
          width: 100%;
          justify-content: space-between;
        }
        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          right: -1.5rem;
          border-radius: 200px;
          background: $btn-gradient;
          z-index: -1;
        }
        span {
          height: max-content;
          display: flex;
          flex-direction: row;
          line-height: 1;
          font-size: calc($body + 4px);
          letter-spacing: 2px;
          font-weight: 500;
          @include device-below(md) {
            font-size: calc($body);
            line-height: 1.3;
          }
        }
      }

      &__chat-lg {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        @include device-below(md) {
          display: none;
        }
      }
    }
  }
  #{&}__middle {
    justify-content: space-between;

    &__ct {
      display: flex;
      flex-direction: column;
    }
    &__phone,
    &__email {
      display: flex;
      flex-direction: row;
      column-gap: calc($space-xs);
      align-items: center;
      max-width: max-content;
      margin-bottom: calc($space-s + 5px);
      @include device-below(md) {
        margin-bottom: calc($space-s);
      }
      span {
        color: black;
        font-size: calc($body);
        letter-spacing: 2px;
      }
      &:hover {
        span {
          color: #ff8c4d;
        }
      }
    }
    &__phone {
      margin-top: calc($space-3xs);
    }
    &__socmed {
      display: flex;
      flex-direction: row;
      column-gap: calc($space-s);
      margin-top: calc($space-s);
      @include device-below(lg) {
        column-gap: calc($space-xl);
      }
      @include device-below(md) {
        display: none;
      }
      &__item {
        width: calc($space-xl - 1px);
        height: calc($space-xl - 1px);
        background-color: #ffebe2;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease;
        svg {
          path {
            transition: all 0.2s ease;
          }
        }
        &:hover {
          background-color: #ff8c4d;
          svg {
            path {
              fill: #ffebe2;
            }
          }
        }
      }
    }
    &__menu {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: calc($space-3xl);
      @include device-below(lg) {
        gap: calc($space-xl);
      }
      @include device-below(md) {
        flex-direction: column;
        justify-content: flex-start;
        margin-top: calc($space-m);
      }
    }
    &__text {
      color: #ff8c4d;
      font-size: calc($body - 2px);
      letter-spacing: 2.5px;
      font-weight: 600;
      margin-bottom: calc($space-2xs);
      text-transform: uppercase;
      @include device-below(md) {
        font-size: calc($body);
      }
    }

    &__sitemap,
    &__prod {
      list-style: none;
      padding: unset;
      margin: unset;
      &__item {
        width: max-content;
      }
      &__link {
        color: #626262;
        font-size: calc($body - 2px);
        letter-spacing: 2px;
        width: max-content;
        transition: all 0.2s ease;
        &:hover {
          color: #ff8c4d;
        }
      }
    }
    &__wrap-st {
    }

    &__sitemap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include device-below(md) {
        gap: calc($space-xs) calc($space-xs);
      }
      &__item {
      }
      &__link {
      }
    }
    &__wrap-prod {
    }
    &__prod {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      @include device-below(md) {
        gap: calc($space-xs) calc($space-xs);
      }
    }

    // sosmed mobile
    &__socmed-md {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: calc($space-l + 5px);

      @include device-above(md) {
        display: none;
      }
    }
  }
  #{&}__bottom {
    border-top: #c5c5c5 1px solid;
    margin-top: calc($space-xl + 5px);
    padding-top: calc($space-l);
    display: flex;
    justify-content: space-between;

    &__company {
      display: flex;
      align-items: center;
      @include device-below(md) {
        justify-content: center;
      }

      &__text {
        color: #6b6b6b;
        font-size: calc($body - 2px);
        letter-spacing: 2px;
      }
    }
    &__certif {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      column-gap: calc($space-m);
      row-gap: calc($space-m);
      flex-wrap: wrap;
      @include device-below(md) {
        padding: calc($space-m) calc($space-s);
        justify-content: center;
      }
      &__logo {
        width: max-content;
        max-width: 100%;
      }
    }
    &__copyright {
      display: flex;
      @include device-below(md) {
        justify-content: center;
        align-items: center;
        margin-top: calc($space-s);
      }
      &__text {
        color: #8f8f8f;
        font-size: calc($body - 4px);
        @include device-below(md) {
          font-size: calc($body - 2px);
          text-align: center;
        }
      }
    }
  }
}
