// style navbar
.mega-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 10px 20px;
  backdrop-filter: blur(10px);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;

  img {
    width: 150px;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;

    li {
      position: relative;

      a {
        text-decoration: none;
        color: #000;
        font-size: 16px;
        padding: 10px 15px;
        display: block;
        white-space: nowrap;

        &:hover {
          color: #ff9000;
        }
      }

      .arrow-down {
        max-width: 15px;
        margin-left: 10px;
      }

      // Dropdown default untuk produk (horizontal grid)
      .dropdown-content {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        z-index: 1;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        padding: 20px;

        // Dropdown produk
        &.produk {
          width: 1200px;
          margin-top: 10px;
          transform: translateX(-650px);
          display: flex;
          gap: 20px;

          .produk-item {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
              width: 350px;
              height: auto;
              object-fit: cover;
            }

            span {
              margin-top: 10px;
              font-size: 14px;
              color: #333;
            }
          }
        }

        // Dropdown Pelayanan
        &.pelayanan {
          display: block;
          width: 250px;
          padding: 0;
          transform: translateX(-40px);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-bottom-right-radius: 20px;
          border-bottom-left-radius: 20px;
          font-size: 16px;

          a {
            padding: 5px;
            display: block;
            margin: 10px 0;
          }
        }
      }

      &:hover .dropdown-content {
        opacity: 1;
        visibility: visible;
      }
    }

    .hubungi-kami {
      background-color: #ff9000;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 20px;

      &:hover {
        background-color: #e55d00;
      }
    }
  }

  .hamburger-icon,
  .close-icon {
    width: 30px;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .menu-icons {
      display: block; // Tampilkan icon hamburger pada mobile
    }

    .menu {
      display: none; // Sembunyikan menu di mobile mode
      position: fixed;
      top: 60px;
      right: 0;
      left: 30px;
      background-color: rgb(251, 232, 208);
      background-image: url("../../dist/img/nav-bg.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom right;
      // background: linear-gradient(0deg, #FF9000 0%, #FF5A00 100%);
      width: auto;
      flex-direction: column;
      padding: 20px;
      gap: 20px;
      height: 100svh;

      li {
        width: 50%;
        text-align: left;

        .dropdown-content {
          position: relative;
          top: 0;
          left: 0;
          width: 5%;
          transform: none;
          padding: 10px;
          z-index: 999;
          transform: translateX(0) !important;
          visibility: visible;
          opacity: 1;
          background-color: transparent;
          box-shadow: none;
          align-items: start !important;
          gap: 15px !important;
          padding: 0 !important;
          padding-left: 30px !important;
          margin-top: 15px !important;
          display: none !important;
          &.expand {
            display: flex !important;
          }

          &.produk {
            flex-direction: column;
            width: 100%;
          }

          &.pelayanan {
            width: 100%;
          }

          a {
            visibility: visible;
            padding: 0 !important;
            margin: 0 !important;

            img {
              display: none;
            }

            span {
              margin: 0 !important;
              font-size: 16px !important;
            }
          }
        }

        a {
          padding: 0 !important;
          font-size: 18px;
        }
      }
    }

    .hamburger-icon {
      display: block;
    }

    .close-icon {
      display: none;
    }

    .menu.active {
      display: flex;
    }

    .close-icon.active {
      display: block;
    }

    .hamburger-icon.active {
      display: none;
    }
  }

  // Sembunyikan icon hamburger dan close pada desktop
  @media (min-width: 769px) {
    .hamburger-icon,
    .close-icon {
      display: none;
    }
  }
}
