@use "../utils/" as *;

.pre-footer {
  overflow: hidden;
  margin-top: unset !important;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include device-below(md) {
      padding: unset;
    }
  }
  .row {
    display: flex;
    align-items: flex-end;
    @include device-below(md) {
      flex-direction: column-reverse;
      width: 100%;
    }
  }
  #{&}__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    height: max-content;
    &::before {
      content: "";
      position: absolute;
      width: calc(150% + calc(((100vw - 1320px) + var(--bs-gutter-x)) / 2));
      height: 100%;
      bottom: 0;
      right: 0;
      background-color: #ff8c4d;
      z-index: -1;

      // @include device-below(md) {
      //   width: 100%;
      //   right: 50%;
      //   transform: translate(50%, 0);
      // }

      @include device-below(md) {
        width: 200%;
        right: -50%;
        border-radius: unset;
      }

      // @include device-below(sm) {
      //   left: 50%;
      //   transform: translate(-50%, 0);
      //   width: 100%;
      // }
    }
    &__wrap {
      display: flex;
      flex-direction: column;
      height: max-content;
      padding: calc($space-xl - 5px) calc($space-3xl) calc($space-xl) 0;
      background-color: #ff8c4d;
      border-top-right-radius: 80px;
      @include device-below(md) {
        padding: calc($space-s);
        border-radius: unset;
      }
    }
    &__title {
      font-size: calc($h1);
      font-weight: normal;
      color: white;
      letter-spacing: 1px;
    }
    &__desc {
      font-size: calc($body + 2px);
      color: white;
      letter-spacing: 1px;
      margin-top: calc($space-2xs - 1px);
      margin-bottom: calc($space-s + 3px);
    }
    &__app {
      display: flex;
      flex-direction: row;
      gap: calc($space-s);
      img {
        max-width: 23rem;
        max-height: 68rem;
        @include device-below(md) {
          width: 100%;
          height: auto;
          object-fit: contain;
        }
      }
    }
  }
  #{&}__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: calc(200% + calc(((100vw - 1320px) + var(--bs-gutter-x)) / 2));
      height: 80%;
      bottom: 0;
      left: -17rem;
      background: linear-gradient(122.31deg, #f7dcbb 30.63%, #f8ccb4 130.35%);
      z-index: -1;
      border-top-left-radius: 82px;

      @include device-below(md) {
        left: -50%;
        width: 200%;
        border-radius: unset;
      }

      // @include device-below(sm) {
      //   left: 50%;
      //   transform: translate(-50%, 0);
      //   width: 100%;
      // }
    }

    &__wrap {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: max-content;
      gap: calc($space-s);
    }
    &__bg {
      @include device-below(md) {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
}
