@use "../utils/" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  scroll-behavior: initial;
  min-height: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: $urbanist;
  font-size: calc($body + 2px);
  letter-spacing: 1px;
  font-weight: 300;
  min-height: 100%;
  height: auto;
  color: black;
  overflow-x: hidden;
  @include device-below(md) {
    font-size: calc($body);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
  line-height: 1.3;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

h5 {
  font-size: $h5;
}

p {
  margin: 0;
}

main {
  display: block;
  position: relative;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

b,
strong {
  font-weight: $bolder;
}

img {
  border-style: none;
}
span {
  font-weight: $light;
}
