<header class="header">
    <div class="header__wrapper">
        <div class="container">
            <nav class="header__nav navbar">
                <a href="../../index.html" class="header__logo">
                    <img src="../../dist/img/logo-raksa-1x.png" alt="Raksa">
                </a>
                <!-- Main Menu Desktop  -->
                <div class="header__menu">
                    <ul class="header__menu-list menu main-menu">
                        <li class="menu-item">
                            <a href="../about/about.html" class="menu-link nav-link">
                                <span>Tentang Kami</span>
                            </a>
                        </li>
                        <li class="menu-item menu-item-has-children megamenu">
                            <a href="../product-listing/product-listing.html" class="menu-link nav-link">
                                <span>Produk</span>
                                <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.5 0.5L4.5 4.5L8.5 0.5" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                            <div class="sub-mega-menu">
                                <div class="container">
                                    <ul class="sub-mega-menu-list">
                                        <li class="sub-mega-menu-item">
                                            <a href="../product-listing/product-listing.html?tab=kendaraan" class="sub-mega-menu-link nav-link">
                                                <img class="sub-mega-menu-img" src="../../dist/img/temp/prod-mm-1.jpg" alt="">
                                                <div class="sub-mega-menu-text">
                                                    <img src="../../dist/img/temp/mm-1.png" alt="">
                                                    <span>Kendaraan</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="sub-mega-menu-item">
                                            <a href="../product-listing/product-listing.html?tab=bangunan" class="sub-mega-menu-link nav-link">
                                                <img class="sub-mega-menu-img" src="../../dist/img/temp/prod-mm-2.jpg" alt="">
                                                <div class="sub-mega-menu-text">
                                                    <img src="../../dist/img/temp/mm-2.png" alt="">
                                                    <span>Bangunan</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="sub-mega-menu-item">
                                            <a href="../product-listing/product-listing.html?tab=lainnya" class="sub-mega-menu-link nav-link">
                                                <img class="sub-mega-menu-img" src="../../dist/img/temp/prod-mm-3.jpg" alt="">
                                                <div class="sub-mega-menu-text">
                                                    <img src="../../dist/img/temp/mm-3.png" alt="">
                                                    <span>Lainnya</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="../service-listing/service-listing.html" class="menu-link nav-link">
                                <span>Pelayanan</span>
                                <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.5 0.5L4.5 4.5L8.5 0.5" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                            <ul class="sub-menu-list">
                                <li class="sub-menu-item"><a href="../service-detail/service-detail.html" class="sub-menu-link nav-link">Raksa Gold Club</a></li>
                                <li class="sub-menu-item"><a href="../service-detail/service-detail.html" class="sub-menu-link nav-link">Raksa Silver Club</a></li>
                                <li class="sub-menu-item"><a href="../service-detail/service-detail.html" class="sub-menu-link nav-link">Raksa Mobile Club 3</a></li>
                                <li class="sub-menu-item"><a href="../service-detail/service-detail.html" class="sub-menu-link nav-link">Hotline 24 Jam</a></li>
                                <li class="sub-menu-item"><a href="../service-detail/service-detail.html" class="sub-menu-link nav-link">Derek 24 Jam</a></li>
                                <li class="sub-menu-item"><a href="../service-detail/service-detail.html" class="sub-menu-link nav-link">Raksa Emergency Services</a></li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="../promo-listing/promo-listing.html" class="menu-link nav-link">
                                <span>Promosi</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="../contact/contact.html" class="menu-link nav-link">
                                <span>Klaim</span>
                            </a>
                        </li>
                    </ul>
                    <a href="../contact/contact.html" class="header__btn-contact">
                        Hubungi Kami
                    </a>
                </div>
                <!-- Button Menu Mobile  -->
                <div class="header__btn-md">
                    <button class="burger-btn" type="button" value="menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </nav>
        </div>
    </div>

    <!-- Menu Mobile -->
    <div id="header__menu-md" class="header__menu-md">
        <div class="container">
            <ul class="header__menu-md__list main-menu-md">
                <li class="menu-item">
                    <div class="menu-div">
                        <a href="../about/about.html" class="menu-link nav-link">
                            Tentang Kami
                        </a>
                    </div>
                </li>
                <li class="menu-item menu-item-has-children">
                    <div class="menu-div">
                        <a href="../product-listing/product-listing.html" class="menu-link nav-link">Produk</a>
                        <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-menu">
                            <path d="M0.5 0.5L4.5 4.5L8.5 0.5" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <ul class="sub-menu-list">
                        <li class="sub-menu-item"><a href="../product-listing/product-listing.html?tab=kendaraan" class="sub-menu-link nav-link">Kendaraan</a></li>
                        <li class="sub-menu-item"><a href="../product-listing/product-listing.html?tab=bangunan" class="sub-menu-link nav-link">Bangunan</a></li>
                        <li class="sub-menu-item"><a href="../product-listing/product-listing.html?tab=lainnya" class="sub-menu-link nav-link">Lainnya</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-has-children">
                    <div class="menu-div">
                        <a href="../service-listing/service-listing.html" class="menu-link nav-link">Pelayanan</a>
                        <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-menu">
                            <path d="M0.5 0.5L4.5 4.5L8.5 0.5" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <ul class="sub-menu-list">
                        <li class="sub-menu-item"><a href="../service-detail/service-detail.html" class="sub-menu-link nav-link">Raksa Gold Club</a></li>
                        <li class="sub-menu-item"><a href="../service-detail/service-detail.html" class="sub-menu-link nav-link">Raksa Silver Club</a></li>
                        <li class="sub-menu-item"><a href="../service-detail/service-detail.html" class="sub-menu-link nav-link">Raksa Mobile Club</a></li>
                        <li class="sub-menu-item"><a href="../service-detail/service-detail.html" class="sub-menu-link nav-link">Hotline 24 Jam</a></li>
                        <li class="sub-menu-item"><a href="../service-detail/service-detail.html" class="sub-menu-link nav-link">Derek 24 Jam</a></li>
                        <li class="sub-menu-item"><a href="../service-detail/service-detail.html" class="sub-menu-link nav-link">Raksa Emergency Services</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <div class="menu-div">
                        <a href="../promo-listing/promo-listing.html" class="menu-link nav-link">Promosi</a>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-div">
                        <a href="../contact/contact.html" class="menu-link nav-link">Klaim</a>
                    </div>
                </li>

            </ul>

            <a href="../contact/contact.html" class="contact-btn-md">
                Hubungi Kami
            </a>
        </div>

        <img src="../../dist/img/temp/raksa-menu-bg-md.png" alt="background menu" class="header__menu-md__bg">

    </div>
</header>